name: ECU Test Level 1

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
 
permissions:
  checks: write
  contents: read 
  
jobs:
  build-sut:
    name: Build SUT
    runs-on: lvl1
    env:
      # actions/cache, actions/upload-artifact ..SSL validation off
      NODE_TLS_REJECT_UNAUTHORIZED: 0 
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4        

      - name: Cache SUT
        id: cache-sut
        continue-on-error: true  
        uses: actions/cache@v4  
        with:
          path: |
            ./SystemUnderTest/L1_BswEmulation/SUT
          key: ${{ hashFiles('./SystemUnderTest/L1_BswEmulation/FanControlECU/Appl/Source', './SystemUnderTest/L1_BswEmulation/FanControlECU/Appl/GenDataVtt', './SystemUnderTest/L1_BswEmulation/FanControl.vttmake', './SystemUnderTest/Software/DeveloperConfig/Emulation/FanControl.arxml', './SharedResources/Diagnostics/FanControl_ECU.cdd') }}
      
      - name: Create a vttMake file 
        if: steps.cache-sut.outputs.cache-hit != 'true'  
        run: |
          &"$env:vVIRTUALtarget_InstallDir\vttproj2vttmake.exe" -i ./SystemUnderTest/L1_BswEmulation/FanControl.vttproj; -o ./SystemUnderTest/L1_BswEmulation/FanControl.vttmake;
          if(-Not $?)
          {
            Write-Host "Create VttMake File step failed." -ForegroundColor red
            Exit -1
          } 

      - name: Run vVIRTUALtarget
        if: steps.cache-sut.outputs.cache-hit != 'true'
        run: |
          &"$env:vVIRTUALtarget_InstallDir\VttMake.exe" make ./SystemUnderTest/L1_BswEmulation/FanControl.vttmake;
          if(-Not $?)
          {
            Write-Host "Create vECU from VttMake step failed." -ForegroundColor red
            Exit -1
          } 

      - name: Export ECU Logs
        uses: actions/upload-artifact@v4
        if: steps.cache-sut.outputs.cache-hit != 'true'
        with:
          name: ECU_Logs
          path: ./SystemUnderTest/L1_BswEmulation/FanControlECU/Log
          retention-days: 7

  build-simulation:
    name: Build simulation
    needs: [build-sut]
    runs-on: lvl1
    steps:
      - name: Make environment
        run: |
            &"$env:CANoeSE_InstallDir64\environment-make.exe" TestEnvironment/SIL/SIL.venvironment.yaml -o ./.vector/build/ -s SUT_L1 -A Win32

      - name: Make test units
        run: |
            & "$env:CANoeSE_InstallDir64\test-unit-make.exe" --e ./.vector/build/SUT_L1.venvironment `
                                                      -o ./.vector/build/ `
                                                      ./TestSuites/Application/FanControl_VectorTestUnit/tu_FanControl.vtestunit.yaml `
                                                      ./TestSuites/Application/FanControl_vTESTstudio/bin/tu_FanControlFaults.vtuexe
      # upload the compiled environment and test units as an artifact
      - name: Export compiled-environment-and-tests
        uses: actions/upload-artifact@v4
        with:
          name: compiled-environment-and-tests
          path: ./.vector/build/
          retention-days: 7

  run-tests-simulation:
    name: Run simulation
    needs: build-simulation
    runs-on: lvl1
    strategy:
      matrix:
        TESTNAME: [tu_FanControl, tu_FanControlFaults]
      fail-fast: false
    steps:    
      - name: Run CANoe Server Edition
        run : |
          & "$env:CANoeSE_InstallDir64\canoe-se.exe" ./.vector/build/SUT_L1.venvironment -d .\simulation --win32 --port-rtk-api none --test-unit ./.vector/build/${{ matrix.TESTNAME }}.vtestunit --test-progress-endpoint http://localhost:8092/system-service/v1.0;

          Write-Host "CANoe Server Edition returned exit code $LASTEXITCODE"

      - name: Export test reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: Test Reports ${{ matrix.TESTNAME }} - lvl1
          path: |
            ./simulation/TestReports/
          retention-days: 7

      - name: Upload log files
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4       
        with:
          name: Log Files ${{ matrix.TESTNAME }}
          path: ./simulation/*.txt

  display-test-report-level1:
    name: Display test report (L1)
    if: ${{ !cancelled() }}
    needs: run-tests-simulation
    runs-on: lvl1
    steps:

      - name: Convert all test reports to XUnit format
        shell: pwsh
        working-directory: ./simulation/TestReports
        env:
          TestReportViewer_InstallDir: 'C:\Program Files\Vector CANoe Server Edition 19\Exec64'
        run: |
          $reports = Get-ChildItem . -Filter *.vtestreport -Recurse
          if ($reports.Count -eq 0) {
          Write-Host "No .vtestreport files found. Skipping conversion."
          Exit 0
          }

          foreach ($r in $reports) {
          $tempFile = Join-Path $r.DirectoryName ("$($r.BaseName)_xunit.xml")
          $finalFile = Join-Path $r.DirectoryName ("$($r.BaseName)_L1_xunit.xml")

          Write-Host ("Converting $($r.Name) -> $finalFile")
          & "$env:TestReportViewer_InstallDir\ReportViewerCli.exe" -r $r.FullName -xu $tempFile

          if (Test-Path $tempFile) {
            Rename-Item -Path $tempFile -NewName $finalFile -Force
            Write-Host "Successfully created: $finalFile"
          } else {
            Write-Host "Failed to create: $finalFile"
            Exit 1
            }
          }

      - name: Fix safe directory
        shell: pwsh
        run: |
          git config --global --add safe.directory $env:GITHUB_WORKSPACE
          git submodule foreach --recursive "git config --global --add safe.directory $toplevel"

      - name: Display L1 test results
        uses: dorny/test-reporter@v1.9.1
        if: always()
        with:
          name: L1 Test results 
          path: "./simulation/TestReports/*_L1_xunit.xml"
          reporter: java-junit
          fail-on-error: false 

#