name: ECU Test Level 3

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
 
permissions:
  checks: write
  contents: read 
  
jobs:
  build-sut:
    name: Build SUT
    runs-on: lvl3
    env:
      # actions/cache, actions/upload-artifact ..SSL validation off
      NODE_TLS_REJECT_UNAUTHORIZED: 0 
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4         

      - name: Cache SUT
        id: cache-sut
        uses: actions/cache@v4  
        with:
          path: |
            ./SystemUnderTest/L3_Integration/SUT
          key: ${{ hashFiles('./SystemUnderTest/Software/**') }}

      - name: Run vVIRTUALtarget
        if: steps.cache-sut.outputs.cache-hit != 'true'
        run: |
          &"$env:vVIRTUALtarget_InstallDir\VttMake.exe" make ./SystemUnderTest/L3_Integration/FanControl.vttmake;
          if(-Not $?)
          {
            Write-Host "VttMake step failed." -ForegroundColor red
            Exit -1
          } 

      - name: Export ECU Logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ECU_Logs
          path: ./SystemUnderTest/L3_Integration/Log  
          retention-days: 7

  build-simulation:
    name: Build simulation
    needs: [build-sut]
    runs-on: lvl3
    steps:
      - name: Make environment
        run: |
            &"$env:CANoeSE_InstallDir64\environment-make.exe" TestEnvironment/SIL/SIL.venvironment.yaml -o ./.vector/build/ -s SUT_L3 -A Win32

      - name: Make test units
        run: |
            & "$env:CANoeSE_InstallDir64\test-unit-make.exe" -e ./.vector/build/SUT_L3.venvironment `
                                                      -o ./.vector/build/ `
                                                      ./TestSuites/Application/FanControl_VectorTestUnit/tu_FanControl.vtestunit.yaml `
                                                      ./TestSuites/Application/FanControl_vTESTstudio/bin/tu_FanControlFaults.vtuexe
      # upload the compiled environment and test units as an artifact
      - name: Export compiled-environment-and-tests
        uses: actions/upload-artifact@v4
        with:
          name: compiled-environment-and-tests
          path: ./.vector/build/
          retention-days: 7

  run-tests-simulation:
    name: Run simulation
    needs: build-simulation
    runs-on: lvl3
    strategy:
      matrix:
        TESTNAME: [tu_FanControl, tu_FanControlFaults]
      fail-fast: false
    steps:    
      - name: Run CANoe Server Edition
        run : |
          & "$env:CANoeSE_InstallDir64\canoe-se.exe" ./.vector/build/SUT_L3.venvironment -d .\simulation --win32 --timeout 30 --port-rtk-api none --test-unit ./.vector/build/${{ matrix.TESTNAME }}.vtestunit --test-progress-endpoint http://localhost:8092/system-service/v1.0;

          Write-Host "CANoe Server Edition returned exit code $LASTEXITCODE"

      - name: Export test reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: Test Reports ${{ matrix.TESTNAME }}
          path: |
            ./simulation/TestReports/
          retention-days: 7

      - name: Upload log files
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4       
        with:
          name: Log Files ${{ matrix.TESTNAME }}
          path: ./simulation/*.txt

  display-test-report:
    name: Display test report
    if: ${{ !cancelled() }}
    needs: run-tests-simulation
    runs-on: lvl3
    steps:
      - name: Convert all test reports to XUnit format
        working-directory: ./simulation/TestReports/
        shell: pwsh
        env:
          TestReportViewer_InstallDir: 'C:\Program Files\Vector CANoe Server Edition 19\Exec64'
        run: |
          get-childitem . -Filter *.vtestreport | foreach {
            & "$env:TestReportViewer_InstallDir\ReportViewerCli.exe" -r $_ -xu
          }

      - name: Display test results
        uses: dorny/test-reporter@v1.9.1
        with:
          name: Test results                             # Name of the check run which will be created
          path: "./simulation/TestReports/*_xunit.xml"   # Path to test results
          reporter: java-junit                           # Format of test results
          fail-on-error: 'false'                         # Don't mark as failing job if test


